<h1><%= @trip.name %></h1>
<%= link_to "Edit", trips_edit_path %>
<%= link_to "Back", trips_index_path %>

<h2>Locations</h2>
<%= link_to, "Add Locations", locations_index_path %>
<hr />
<ul>
    <% @trip.location.each do |location| %>
    <li>
    <%= link_to, "Locations", locations_index_path %>
    </li>

</ul>

