<!DOCTYPE html>
<html>
  <head>
    <title>Hackaton1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<% @img = [ "a1.gif", "b2.gif", "c3.gif"]%>
  <div class="container" style="background-image: asset-data-url(<%= @img.sample %>)"> 
  <%= render "layouts/navbar" %>
  <div class="ui container">
    <%= yield %>
  
  </div>
  </body>
</html>
